body {
    background: linear-gradient(to right, rgb(238, 186, 212), #3494E6) !important;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.shadow {
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 10px 23px rgba(0, 0, 0, 0.1);
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    margin-left: 10px;
}

#contact-list {
    margin-top: 10px !important;
}

.norecord {
    text-align: center;
}

#add-contact {
    margin-left: 10px;
}

#new-contact-form {
    margin-left: 10px;
}

#edit-contact-form {
    margin-left: 10px;
}